.course-info-box {
    color: var(--white);
    border-radius: 20px;
}

.course-info-box svg {
    color: var(--main);
    width: 45px;
    height: 45px;
}

.course-info-box .name {
    font-size: 1.2rem;
}

.course-info-box .info {
    opacity: .6;
    font-size: 1rem;
}